target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/pom.xml
!**/src/test/resources/archetype-resources/pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### System Files ###
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
